* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

header {
  padding: 3.75rem;
  text-align: center;
  background-color: #293037;
  color: #fff;
}

footer {
  background-color: #f2f4f6;
  padding: 2.5rem;
  text-align: center;
  color: #6a7c8f;
}

h1 {
  font-family: Ubuntu, sans-serif;
  font-size: 2.875rem;
  text-align: center;
  margin: 2.5rem 0;
}

h2 {
  font-family: Ubuntu, sans-serif;
  font-size: 1.75rem;
  text-align: center;
  margin: 2.5rem 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
}

.code-button {
  display: inline-block;
  text-align: center;
  background-color: #293037;
  color: #fff;
  border: 2px solid white;
  padding: 0.875rem 1.75rem;
  font-size: 1rem;
  border-radius: 3px;
  text-decoration: none;
}

.code-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 0;
}

.calculator-section {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.625rem 0;
}

.calculator-section-row {
  width: 50%;
  padding: 1.875rem;
  flex: 1;
}

.calculator-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #d7d7d7;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.input-expression {
  width: 100%;
  font-size: 2.75rem;
  margin: 0.5rem;
  border: 3px solid #000;
  padding: 10px;
  border-radius: 0.3125rem;
  font-weight: bold;
}

.btn-calculator {
  width: 25%;
  min-width: 4.6875rem;
  border: 2px solid #d7d7d7;
  height: 5rem;
  /*margin: 0.1rem;*/
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.btn-calculator:hover {
  border: 2px solid rgb(96, 154, 161);
}

.btn-preposition-color {
  background-color: white;
}

.btn-equal-color {
  background-color: #c1d6d3;
}

.btn-delete-color {
  background-color: #d6c1d6;
}

.btn-operation-color {
  background-color: #f0f0f0;
}

.info-paragraph {
  max-width: 1100px;
  margin: auto;
  font-size: 1.125em;
  line-height: 1.6em;
  margin-bottom: 1.6em;
  padding: 0 1.25rem;
}

.text-center {
  text-align: center;
}

.info-operations-table {
  margin: auto;
  border-radius: 0.5rem;
}

.card-token-element {
  width: 4.6875rem;
  text-align: center;
  margin: 1px;
}

.card-token-element:hover .token-data {
  border: 2px solid #d66012;
}

.card-token-element:hover .token-type-data {
  background-color: #d66012;
}

.token-data {
  margin: 0;
  font-size: 2rem;
  padding: 1.125rem;
  border: 2px solid rgb(96, 154, 161);
  border-radius: 10px 10px 0 0;
}

.token-type-data {
  margin: 0;
  /*padding: 0.3125rem 0;*/
  background-color: rgb(96, 154, 161);
  color: #fff;
  border-radius: 0 0 10px 10px;
  font-size: 0.75rem;
  font-variant: small-caps;
}

.iteration-container {
  width: 90%;
  margin: 30px 0 20px 0;
}

.iteration-container-internal {
  display: flex;
  flex-wrap: nowrap;
}

.iteration-title {
  padding: 0.9375rem;
  background-color: cadetblue;
  border-radius: 5px 30px 0 30px;
  width: 9.375rem;
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.iteration-border {
  border-bottom: 6px solid cadetblue;
  width: 100%;
  height: 2.875rem;
}

.partial-container {
  width: 45%;
  border: 1px solid #000;
  margin: 0.625rem;
  min-height: 9.875rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.partial-container:hover {
  border: 2px solid rgb(96, 154, 161);
  /*box-shadow: 0 4px 8px 0 rgba(96, 154, 161, 0.2), 0 6px 20px 0 rgba(96, 154, 161, 0.19);*/
}

.stack-values-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 0.625rem 0.3125rem;
}

.posfix-output-container {
  width: 91%;
  border: 1px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.posfix-partial-values-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.625rem 0.3125rem;
}

.output-subtitle {
  background-color: #575757;
  color: #fff;
  margin: 0;
  padding: 0.625rem;
  font-size: 1.5rem;
}

.stack-subtitle {
  background-color: #d7d7d7;
  margin: 0;
  padding: 0.625rem;
  font-size: 1.5rem;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.9375rem;
  border: 1px solid black;
  font-size: 1.125rem;
}

#inputs th,
#inputs td {
}

@media screen and (max-width: 992px) {
  .calculator-section {
    flex-wrap: wrap;
  }

  .calculator-section-row {
    width: 100%;
    flex: 100%
  }

  .partial-container {
    width: 95%;
  }
}
