body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

header {
  padding: 3.75rem;
  outline: 1px solid red;
  text-align: center;
  background-color: #293037;
  color: #fff;
}

footer {
  background-color: #f2f4f6;
  padding: 2.5rem;
  text-align: center;
  color: #6a7c8f;
}

h1 {
  font-family: Ubuntu, sans-serif;
  font-size: 2.875rem;
  text-align: center;
  margin: 2.5rem 0;
}

h2 {
  font-family: Ubuntu, sans-serif;
  font-size: 1.75rem;
  text-align: center;
  margin: 2.5rem 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 0;
}

.calculator-container {
  width: 50%;
  padding: 30px;
}

.calculator-instructions-container {
  width: 50%;
  padding: 30px;
}

.calculator-section {
  width: 100%;
  flex-wrap: nowrap;
}


.input-expression {
  flex-basis: 95%;
  font-size: 2.5rem;
  margin: 0.5rem;
  border: 2px solid rgb(97, 95, 95);
  border-radius: 5px;
}

.calculator {
  background-color: #D7D7D7;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-calculator{
    width: 24%;
    min-width: 4.6875rem;
    height: 50px;
    margin: 0.1rem;
    text-align: center;
    font-size: 2rem;
    border: none;
}

.btn-calculator:hover{
    border: 2px solid rgb(96, 154, 161)
}

.btn-preposition-color{
    background-color: white;
}

.btn-equal-color{
    background-color: #C1D6D3;
}

.btn-delete-color{
    background-color: #D6C1D6;
}

.info-paragraph {
  max-width: 1100px;
  margin: auto;
  font-size: 1.125em;
  line-height: 1.6em;
  margin-bottom: 1.6em;
  padding: 0 1.25rem;
}

.text-center {
  text-align: center;
}

.info-operations-table {
  margin: auto;
  border-radius: 0.5rem;
}

.card-token-element {
  width: 75px;
  text-align: center;
  margin: 1px;
}

.card-token-element:hover .token-data {
  border: 2px solid #d66012;
}

.card-token-element:hover .token-type-data {
  background-color: #d66012;
}

.token-data {
  margin: 0;
  font-size: 2rem;
  padding: 1.125rem;
  border: 2px solid rgb(96, 154, 161);
  border-radius: 10px 10px 0 0;
}

.token-type-data {
  margin: 0;  
  /*padding: 0.3125rem 0;*/
  background-color: rgb(96, 154, 161);
  color: #fff;
  border-radius: 0 0 10px 10px;
  font-size: 0.75rem;
  font-variant: small-caps;
}

.partial-container {
  width: 45%;
  border: 1px solid #000;
  margin: 10px;
  min-height: 155px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.partial-container:hover {
  border: 2px solid rgb(96, 154, 161);
  /*box-shadow: 0 4px 8px 0 rgba(96, 154, 161, 0.2), 0 6px 20px 0 rgba(96, 154, 161, 0.19);*/
}

.stack-values-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 10px 5px;
}

.posfix-output-container {
  width: 91%;
  border: 1px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.posfix-partial-values-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 5px;
}

.posfix-subtitle {
  background-color: #D7D7D7;
  margin: 0;
  padding: 0.625rem;
  font-size:1.5rem;
  /*height: 2.75rem;*/
}

table, th, td {
  border-collapse: collapse;
  padding: 15px;
  border: 1px solid black;
  font-size: 1.125rem;
}

#inputs th, #inputs td {

}